<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="expense.css">
    <script src="https://sdk.cashfree.com/js/v3/cashfree.js"></script>
</head>
<body>
    <form id="expenseTracker_form">
        <div>
            <label for="amount">Choose expense amount:</label>
            <input type="number" name="amount" id="amount" required>
            <label for="description">Choose description:</label>
            <input type="text" name="description" id="description" required>
            <label for="category">Choose category:</label>
            <select name="category" id="category">
                <option value="movie">Movie</option>
                <option value="food">Food</option>
                <option value="clothing">Clothing</option>
                <option value="train">Train</option>
                <option value="bus">Bus</option>
                <option value="cab">Cab</option>
                <option value="auto">Auto</option>
                <option value="salary">Salary</option>
            </select>
        </div>
        <div>
            <button type="submit">Add Expenses</button>
        </div>
    </form>
    <button id="premiumButton">Pay now</button>
    <button id="leaderboardBtn">Show Leaderboard</button>
    <!-- <div id="cf_checkout"></div> -->
    <div> 
        <h2>Expense List:</h2>
        <ul id="full_list" class="full_access"></ul>
    </div>
    <div id="leaderboardSection" style="display: none;">
        <h2>Leaderboard</h2>
        <ol id="leaderboardList"></ol>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/expense.js"></script>
    <script src="/js/payment_modal.js"></script>
</body>
</html>